.answer-div{
    background-color:rgba(68, 68, 68, 0.712);
    padding: 20px;
    margin: 10px;
    box-shadow: 3px 3px 20px rgba(70, 69, 69, 0.589);
    color:white;
    border: 1px solid rgba(68, 68, 68, 0.8);
}
.answer-selected-div{
    background-color: #14ee00;
    padding: 20px;
    margin: 10px;
    box-shadow: 3px 3px 20px rgba(70, 69, 69, 0.589);
    color:black;
    border: 1px solid #14ee00;
}
p{
    color: white;
}
.start-exam-button{
    background-color:  #14ee00;
    border: 1px solid  #14ee00;
    color: black;
    box-shadow: 3px 3px 20px rgba(70, 69, 69, 0.589);
    padding: 10px 5px;
    font-weight: 600;
    border-radius: 6px;
}
.start-exam-button:hover,
.start-exam-button:active,
.start-exam-button:focus{
    background-color:  #14ee00;
    border: 1px solid  #14ee00;
    color: black;
    box-shadow: 3px 3px 20px rgba(70, 69, 69, 0.589);
    padding: 10px 5px;
    font-weight: 600;
    border-radius: 6px;
}